---

import { Image } from 'astro:assets';
import logoImage from '../assets/logo.png';
import Carousel from './Carousel.astro';

---


<section class="pt-38 pb-16"> <!-- Ajusta el pt-28 según la altura de tu header -->
 <Carousel>
 </Carousel>
</section>
